@tailwind base;
@tailwind components;
@tailwind utilities;

/* Select*/
    .lw-select{
        @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm w-full
    }

    .table{ @apply w-full border-2 border-black;}

    .table thead {@apply bg-black text-white text-left;}

    .table, td{  
      border: 1px solid #ddd;
      text-align: left;
    }

    .table {
      border-collapse: collapse;
      width: 100%;
    }

    .table td > .truncate{
      width: auto;
      min-width: 0;
      max-width: 200px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }


    .table-responsive{
        @apply table-fixed overflow-x-scroll md:overflow-hidden
    }

    .table-responsive thead tr{
      @apply flex w-full
    }

    .table-responsive tbody{    
        @apply overflow-y-scroll  flex flex-col justify-between w-full;
    }

    .table-simetric td, .table-simetric th {
        @apply w-1/5
    }
    .table-responsive th , .table-responsive td  {
        @apply px-3 py-1
    }


    @media (max-width: 700px){
        .table-responsive tbody{
            height: 60vh;
        }   
    }

    .table-responsive tbody tr{
        @apply flex w-full cursor-pointer
    }


    .btn{ 
        @apply px-2 py-1 rounded
    }

    .btn-delete{
        @apply bg-red-300 w-full px-3 py-2 rounded hover:bg-red-500 hover:text-white
    }

    .input-table{
      @apply border-0 border-b-2 w-full focus:border-blue-200 focus:border-0
    }


    .color0{
        @apply bg-blue-200
    }    

    .color1{
        @apply bg-green-200
    }    
    .color2{
        @apply bg-lime-200
    }    
    .color3{
        @apply bg-cyan-200
    }    

    .color4{
        @apply bg-yellow-200
    }    
    .color5{
        @apply bg-emerald-200
    }    

    .border0 input, .border0 select{
        @apply border-blue-200
    }    

    .border1 input, .border1 select{
        @apply border-green-200
    }    
    .border2 input, .border2 select{
        @apply border-lime-200
    }    
    .border3 input, .border3 select{
        @apply border-cyan-200
    }    

    .border4 input, .border4 select{
        @apply border-yellow-200
    }    
    .border5 input, .border5 select{
        @apply border-emerald-200
    }



/* Botones   */
.btn-danger{
    @apply btn border-red-800 border-2 p-1 rounded-md text-red-800 hover:text-white hover:bg-red-800 hover:shadow-2xl
}
.btn-apply{
    @apply btn hover:bg-green-800 border-2 border-green-800 text-green-800 hover:text-white
}
.btn-success{
    @apply btn hover:bg-blue-400 border-2 border-blue-400 text-blue-400 hover:text-white
}